body{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#clock{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow',
}
div{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
    
    box-shadow: 5px 5px 100px purple;
    color:purple;
    height: 500px;
    width:370px;
    padding:15px;
    margin: auto;
    border-radius: 30px;
}
button{
    height:70px;
    width:70px;
    font-size: 25px;
    background-color: purple;
    color:white;
    font-weight: bold;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 35px;
    cursor: pointer;
}
input{
    height: 70px;
    width:350px;
    border: 10px solid white;
    border-radius: 20px;
    font-size:35px;
    font-weight: bold;
    
}
button:hover{
    background-color: white;
    color:purple;
    border:1px solid purple
}

#point{
    font-size: 60px;
}
 button.operators{
    background-color:white;
    color:purple;
    border: 3px solid purple;
} 
button.operators:hover{
    background-color: purple;
    color: white;
}