h1{
    text-align: center;
    font-family: sans-serif;
}
.slider{
    margin-left: 100px;
    position: relative;
    margin: auto;
    width: 450px;
    margin-left:auto;
    border-radius: 15px;
    box-shadow: 5px 5px 25px purple;
    height: 220px;
    padding: 30px;
}
img{
    height:200px;
    width:auto;
    display:none;
    margin-left: 60px;
}

button{
    position:absolute;
    font-size:40px;
    top: 50%;
    transform: translateY(-80%);
    padding: 10px 15px;
    background-color: white;
    color: purple;
    border: none;
    
}
#prev{
    left:10px;
}
#next{
    right:10px;
}